html, body, #container {
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(245, 207, 192);
}

#logo {
    height: 350px;
    width: auto;
    margin: 10px;
    padding: 15px;
    background-color: rgb(252, 191, 184);
    opacity: 0.55;
    text-align: center;
    vertical-align: middle;   
    letter-spacing: 7px;
    font-size: 60px;
    font-weight: 900;
}

.box {
    width: 460px;
    height: 55%;
    margin: 10px;
    padding: 15px;
    background-color: rgba(202, 167, 164, 0.85);
    position: relative;
    display: table-cell;
}

.box:hover {
    background-color: rgba(145, 128, 123, 0.301);
    cursor: pointer;
 }

 .text {
    position: absolute;
    display: inline;
    left: 0;
    width: 100%;
    top: 50%;
    text-align: center;
    color: rgb(68, 68, 68);
}
 
img {
    width: 350px;
    height: auto;
    padding: 5px;
}

/*cursor on img effect*/
img:hover {
    background-color: rgba(240, 231, 228, 0.301);
    cursor: pointer;
 }

#footer {
    clear:both;
    color:black;
}

